In [1]:
import psycopg2
import os
import csv
import pandas as pd
import re

def chemin_fichier()-> str :
    """
        Donne le nom du chemin complet du fichier actuel (.py) 
    """
    chemin=os.getcwd() #methode pour tourner avec jupyter
    #chemin= path.dirname(path.abspath(__file__)) #methode d'Alice avec <os>
    #chemin = str(Path(__file__).parent) #ma methode avec <path>
    #print(chemin)
    return chemin

# etablir une connection
def connexion_DB(fichierDB):
    try:
        conn = psycopg2.connect(user = "santa",
                                password = "claus",
                                host = "localhost",
                                port = "5432:5432",
                                database = fichierDB
                                )

        cur = conn.cursor()
        # Print PostgreSQL Connection properties
        #print ( "Proprietes : ",conn.get_dsn_parameters(),"\n")

        # Print PostgreSQL version
        cur.execute("SELECT version();")
        record = cur.fetchone()
        #print("Version de PostgreSQL : ", record,"\n")
        cur.close()
    except (Exception, psycopg2.Error) as error :
        print ("Error while connecting to PostgreSQL", error)
    
    return conn

def deconnexion_DB(conn):
#closing database connection.
    if(conn):
        conn.close()
        print("PostgreSQL connection is closed")

In [52]:
#les enfants par pays
conn=connexion_DB("santa_data")
cursor = conn.cursor()
rq_select_total='''
          SELECT 
              count(TE.ID_e)
          FROM T_enfants as TE
          where age < 18 and TE.id_p is not null
          group by id_e
          ;
          '''

cursor.execute(rq_select)
res=cursor.fetchall()
nbe_tot=cursor.rowcount

rq_select='''
          SELECT 
              count(TE.ID_p),pays
          FROM T_enfants as TE join T_pays as TP on TE.id_p=TP.id_p
          where age < 18 and TE.id_p is not null
          group by pays
          ORDER BY pays;
          '''

cursor.execute(rq_select)
res=cursor.fetchall()

print(" NOMBRE D'ENFANTS DE MOINS DE 18 ANS PAR PAYS ")
print('                  PAYS'.rjust(15),'      NB_inf 18 ans'.ljust(8))
for row in res:  
    print(str(row[1])[0:30].rjust(25),'       ',end='')
    print(str(row[0]).ljust(8))
    
cursor.close()
deconnexion_DB(conn)

 NOMBRE D'ENFANTS DE MOINS DE 18 ANS PAR PAYS
                  PAYS       NB_inf 18 ans
           Afrique du Sud        1
                Allemagne        8
                  Andorre        1
                 Autriche        1
                 Belgique        22
                    Bénin        1
                 Bulgarie        1
                   Canada        246
                  Espagne        3
               États-Unis        1
                   France        1192
          Grande-Bretagne        3
                    Grèce        1
               Guadeloupe        4
         Guyane française        3
                    Haïti        2
                   Italie        4
                    Liban        3
               Luxembourg        2
                    Maroc        2
               Martinique        3
                  Maurice        1
                     Oman        1
                 Pakistan        1
                 Pays-Bas        1
                  Pologne        4
                 Portugal        2
                  Réunion        9
 Saint-Pierre et Miquelon        1
                  Sénégal        1
                   Suisse        7
                  Tunisie        1
                  Turquie        1
PostgreSQL connection is closed

In [48]:
#lles adultes par pays
conn=connexion_DB("santa_data")
cursor = conn.cursor()

rq_select='''
          SELECT 
              count(TE.ID_p),pays
          FROM T_enfants as TE join T_pays as TP on TE.id_p=TP.id_p
          where age >= 18 and TE.id_p is not null
          group by pays
          ORDER BY pays;
          '''

cursor.execute(rq_select)
res=cursor.fetchall()
print('                  PAYS'.rjust(15),'      NB_adultes'.ljust(8))
for row in res:  
    print(str(row[1])[0:30].rjust(25),'       ',end='')
    print(str(row[0]).ljust(8))
    
cursor.close()
deconnexion_DB(conn)

                  PAYS       NB_adultes
       Antigua-et-Barbuda        1
                 Belgique        3
                   Canada        18
                   France        60
                    Liban        1
                  Pologne        1
                  Réunion        1
                 Roumanie        1
                  Sénégal        1
                   Suisse        1
                  Uruguay        1
PostgreSQL connection is closed

In [16]:
conn=connexion_DB("santa_data")
cursor = conn.cursor()

rq_select='''
          SELECT 
              ID_p, pays FROM T_pays 
          ORDER BY id_p;
          '''

cursor.execute(rq_select)
res=cursor.fetchall()
print('id_p'.ljust(8),'pays'.ljust(8))
for row in res:
    print(str(row[0]).ljust(8),end='')
    print(str(row[1])[0:30].ljust(8))
    
cursor.close()
deconnexion_DB(conn)

id_p     pays
1       Afrique du Sud
2       Allemagne
3       Andorre
4       Antigua-et-Barbuda
5       Autriche
6       Belgique
7       Bénin
8       Bulgarie
9       Canada
10      Espagne
11      États-Unis
12      France
13      Grande-Bretagne
14      Grèce
15      Guadeloupe
16      Guyane française
17      Haïti
18      Italie
19      Liban
20      Luxembourg
21      Maroc
22      Martinique
23      Maurice
24      Oman
25      Pakistan
26      Pays-Bas
27      Pologne
28      Portugal
29      Réunion
30      Roumanie
31      Saint-Pierre et Miquelon
32      Sénégal
33      Suisse
34      Tunisie
35      Turquie
36      Uruguay
PostgreSQL connection is closed

In [31]:
conn=connexion_DB("santa_data")
cursor = conn.cursor()

rq_select='''
          SELECT 
              ID_p, age 
          FROM T_enfants
          where age > 18 and id_p is not null
          ORDER BY id_p;
          '''

cursor.execute(rq_select)
res=cursor.fetchall()
print('id_p'.ljust(8),'age'.ljust(8))
for row in res:
    print(str(row[0]).ljust(8),end='')
    print(str(row[1])[0:30].ljust(8))
    
cursor.close()
deconnexion_DB(conn)

id_p     age
4       25.0
6       19.0
6       25.0
6       28.0
9       38.0
9       48.0
9       28.0
9       50.0
9       30.0
9       36.0
9       34.0
9       23.0
9       34.0
9       20.0
9       22.0
9       40.0
9       26.0
9       20.0
9       52.0
12      24.0
12      25.0
12      24.0
12      58.0
12      25.0
12      26.0
12      34.0
12      39.0
12      28.0
12      23.0
12      24.0
12      24.0
12      46.0
12      25.0
12      19.0
12      34.0
12      40.0
12      26.0
12      21.0
12      53.0
12      45.0
12      19.0
12      27.0
12      19.0
12      33.0
12      41.0
12      24.0
12      33.0
12      23.0
12      25.0
12      33.0
12      22.0
12      19.0
12      24.0
12      28.0
12      24.0
12      25.0
12      34.0
12      34.0
12      35.0
12      27.0
12      47.0
12      28.0
12      26.0
12      49.0
12      32.0
12      22.0
12      51.0
12      36.0
12      34.0
12      27.0
12      46.0
12      20.0
12      28.0
19      24.0
29      23.0
30      24.0
32      20.0
33      29.0
36      58.0
PostgreSQL connection is closed